.card-conteiner{
display: flex;
flex-direction: row;
gap: 50px;
margin: 30px;
border-radius: 10px;

}
/* .img-card{
    width: auto; 
    height: 300px;
    border-radius: 10px;
}
.info{
    display: block;
   
   font-size: 15px;

    h1{
        color: rgb(184, 113, 20);
    }
    p{
        font-size: 15px;
    }
} */
.iconos{
    display: flex;
    img{
        width: auto;
        height: 30px;
        filter: invert();
    }

}
@media (max-width:570px) {
    .card-conteiner{
        display: flex;
        flex-direction: column;
    }
    .img-card{
    width: auto; 
    height: 200px;}
}
.conexion{
    width: 30px;
    height: 30px;
}