.conteiner-Star {
  display: flex;
}
.datos {
  margin: 50px;
}
.imagenes {
  display: flex;
  flex-direction: column;
  width: 25%;
  border-radius: 15px;
  box-shadow: 0 10px 15px black;
}
.logo {
  width: 8%;
  position: relative;
  z-index: -2;
}
.titulo2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 300px;
}
.fondo {
  position: fixed;
  top: 0;
  left: 0;
  width: 110vw;
  height: 110vh;
  object-fit: cover; /* Escala la imagen para cubrir */
  z-index: -1;
}
.p1 {
  display: flex;
  font-size: 25px;
  width: 60%;
  text-align: center;
}
.p2 {
  font-size: 25px;
  width: 50%;
}
.formato {
  bottom: 150px;
  display: flex;
  gap: 40px;
  align-items: center;
  margin-bottom: 150px;
}
.formatoinverso {
  display: flex;
  flex-direction: row-reverse;
  gap: 40px;
  align-items: center;
  margin-bottom: 150px;
}
.dato-inverso {
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  flex-wrap: wrap;
}
.formatoCentral {
  display: flex;
  top: 150px;
  position: relative;
  justify-content: center;
  gap: 40px;
  align-items: center;
}
.imagen-final {
  border-radius: 15px;
  width: 30%;
  margin: 30px;
}
.p2-cent {
  width: 50%;
  font-size: 30px;
}
.starIconos {
  display: flex;
  width: 20%;
  justify-content: center;
}
.ic {
  margin: 30px;
  height: 50px;

  filter: drop-shadow(0 10px 30px black);
}
.icon-final {
  display: flex;
  img {
    height: 70px;
  }
}

.enlaseStar {
  text-decoration: none;
  color: aliceblue;
}
.iconosweb-star {
  width: auto;
  height: 40px;
  filter: invert();
}


@media (max-width:520px){
 .titulo2{
  width: 80vw;
  justify-content: center;
  
 }
 .logo{
  width: 20%;
  z-index: 1;
 }
 .p1{
  font-size: 20px;
 }
 .starIconos{
  display:grid;
  flex-direction: column;
 
  width: 40%;
  justify-items: center
 }
 .formato{
  display: flex;
  flex-direction: column;
  justify-items: center;
 }
 .imagenes{
  width: 70%;
 }
 .formato {
  p{

    width: 100%;
   text-align: center;
  }
  h2 {
    width: 100%;
    text-align: center;
  }
 }
 .formatoinverso{
  display: flex;
  flex-direction: column;
 }
 .dato-inverso{
  width: 100%;
  text-align: center;
  p{
    width: 100%;
    text-align: center;
  }
  h2 {
   width: 100%;
   text-align: center;
  }
 }
 .formatoCentral{
  display: flex;
  flex-direction: column;
 }
 .imagen-final{
  width: 70%;
 }
 h1 {
  width: 100%;
   text-align: center;
 }
 .p2-cent{
  width: 100%;
   text-align: center;
 }
 .iconosweb-star{
 
 }
}